body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
    /* background-color: teal; */
}

a{
    text-decoration: none;
    color: inherit;
}

.kiri{
    flex: 3;
}

.kanan{
    flex: 1;
}

.kanan img{
    width: 600px;
    /* height:auto; */
}

/* .kanan iframe{
    height: 40vh;
    width: 600px;
} */

h1 {
    color: #333;
}

#tanahDeskripsi {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    padding-right: 2.6rem;
    line-height: 1.25rem;
}

button {
    /* margin-left: 5px; */
    padding: 10px 20px;
    /* background-color: #007bff; */
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* button:hover {
    background-color: #0056b3;
} */

.fa-location-dot{
    color: red;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
        height: auto;
    }

    .kiri{
        flex: none;
    }

    .kanan{
        flex: none;
    }

    .imgBx{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .kanan img{
        display: flex;
        align-items: center;
        width: 370px;
        margin-right: 1em;
        margin-bottom: 1rem;
        height: 50vh;
    }

    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    
}

span{
    color: blue;
    text-decoration: underline;
}